<center>
<h1>Hi welcome To Training Page</h1>
<div class="container">
<form class="" action="about" method="post">
  Username <input type="text" name="username" value=""><br>
  Password <input type="password" name="password" value=""><br>
  <input type="submit" name="login" value="login"><br>
</form>
</center>
</div>

<style>
  .container{
    margin: auto;
    width: 500px;
  }
</style>
